@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Heavy.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.ttf");
  font-weight: 600;
}
:root {
  --color-white-100: #FFFFFF;
  --color-white-400: #F2F9FF;
  --color-gray-500: #959A9D;
  --color-gray-700: #4B5258;
  --color-blue-200: #43AAFF;
  --color-green-400:#20FF87;
  --color-yellow-400: #FFC24D;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: none;
  outline: none;
  list-style: none;
  font-size: inherit;
  text-decoration: none;
}

.wrapper {
  font-family: "Mont", sans-serif;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.bg-banner {
  background: url("../img/banner.png") no-repeat;
  background-size: cover;
  min-height: 655px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 27px;
}
.header .nav-collapse {
  width: 100%;
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__btn {
  margin-left: auto;
}
.header__phone {
  margin-left: auto;
}
.header__phone a {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: var(--color-gray-700);
  margin-bottom: 5px;
}
.header__phone .phone {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__phone .phone .header-phone__dsc {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-gray-500);
}
.header__phone .phone .header-phone__icon {
  color: var(--color-green-400);
  width: 8px;
}
.header .header-logo__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-blue-200);
}
.header .header-logo__dsc {
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  color: var(--color-gray-500);
  max-width: 140px;
}
.header .social-network {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}
.header .social-network h2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  text-align: right;
  color: var(--color-gray-700);
  max-width: 140px;
}
.header .header__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  color: var(--color-gray-700);
  border: 1px solid var(--color-blue-200);
  border-radius: 100px;
  padding: 21px 25px;
  transition: 0.6s all;
}
.header .header__btn:hover {
  background: var(--color-blue-200);
  color: white;
  transform: scale(0.9);
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 24px;
  height: 24px;
  gap: 5px;
  cursor: pointer;
  margin-left: auto;
}

.hamburger span {
  display: inline-block;
  width: 100%;
  height: 2px;
  transition: 0.6s all;
  background: #333;
}

.hamburger.active span:nth-child(1) {
  transform: translateX(-50px);
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateX(50px);
  opacity: 0;
}

@media screen and (max-width: 920px) {
  .header__btn {
    margin: 0;
  }
  .header__phone {
    margin: 0;
  }
  .header .social-network {
    margin: 0;
  }
  .header .nav-collapse {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 25px;
    left: 0;
    right: 0;
    top: 100px;
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    transition: 0.6s all;
    max-height: 0;
    overflow: hidden;
  }
  .header .nav-collapse.active {
    padding: 20px;
    max-height: 600px;
  }
}
.banner .banner-content-block {
  max-width: 565px;
  margin-top: 85px;
}
.banner .banner-content-block .banner-content {
  display: flex;
  font-weight: normal;
}
.banner .banner-content-block .banner-content__item {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  color: var(--color-gray-700);
}
.banner .banner-content-block .banner-content__subtitle {
  font-weight: normal;
}
.banner .banner-content-block .banner-content .banner-desc {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-gray-700);
}
.banner .banner-content-block .banner-content .banner-line {
  display: inline-block;
  width: 40px;
  height: 2px;
  background: var(--color-blue-200);
  transform: translateY(-5px);
  margin: 0 20px;
}
.banner .banner-content-block .banner-item-desc {
  margin-top: 36px;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: var(--color-gray-700);
}
.banner .banner-content-block .banner-btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.banner .banner-content-block .banner-btns button {
  padding: 30px 50px;
  background: var(--color-blue-200);
  box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  color: #fff;
  transition: 0.6s all;
}
.banner .banner-content-block .banner-btns button:hover {
  transform: scale(0.9);
  background: #247fc9;
}
.banner .banner-content-block .banner-btns button:nth-child(2) {
  background: var(--color-yellow-400);
}

@media screen and (max-width: 540px) {
  .banner-btns {
    flex-direction: column;
  }
  .banner-btns button {
    width: 100%;
  }
}
.about-us {
  margin-top: 72px;
}
.about-us .about-us-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
  gap: 10px;
}
.about-us .about-us-content .about-us-card {
  background: var(--color-blue-200);
  border-radius: 30px;
  max-width: 248px;
  padding: 45px 25px;
  position: relative;
  overflow: hidden;
}
.about-us .about-us-content .about-us-card:nth-child(2n) {
  background: var(--color-yellow-400);
}
.about-us .about-us-content .about-us-card h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-white-100);
  max-width: 127px;
}
.about-us .about-us-content .about-us-card img {
  content: "";
  position: absolute;
  top: -21px;
  right: -94px;
}
.about-us .about-us-content .about-us-card .about-img {
  position: absolute;
  top: 6px;
  right: -57px;
}
.about-us .about-us-content .about-us-card .about-us-logo {
  position: absolute;
  mix-blend-mode: color-burn;
  top: 50px;
  right: 2px;
}
.about-us .about-us-content .about-us-card .about-us-gloves {
  position: absolute;
  top: -11px;
  right: -93px;
}
.about-us .about-us-content .about-us-card .about-us-check {
  position: absolute;
  top: 23px;
  right: -49px;
}
.about-us .test {
  background: var(--color-white-100);
  box-shadow: 0px 0px 20px rgba(29, 31, 33, 0.12);
  border-radius: 100px;
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us .test button {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-gray-700);
  transition: 0.6s all;
  padding: 28px 37px;
  background: transparent;
  border-radius: 100px;
  cursor: pointer;
}
.about-us .test .tabs-btn.active {
  background: var(--color-blue-200);
  color: var(--color-white-100);
}
.about-us .test button:hover {
  background: var(--color-blue-200);
  color: var(--color-white-100);
}

/*# sourceMappingURL=style.css.map */
